<div>
  <section class="login" @fadeInOut>
    <div class="form">
      <form #form="ngForm" (ngSubmit) = "login(form)">
        <mat-form-field>
          <mat-label>Empresa</mat-label>
          <input matInput type="text" placeholder="Empresa..." autocomplete="new-text" ngModel name="userName">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="*" autocomplete="new-password" ngModel name="password">
        </mat-form-field>
        <br>
        <button mat-flat-button color="warn" [disabled]="buttonLogin">Login</button>
        <mat-icon style="margin-left: 10px;">favorite</mat-icon>
      </form>
    </div>
  </section>
</div>
